.todo {
    display: flex;
    padding: 10px 15px;
    background-color: #FFF;
    border-bottom: 1 px solid #ddd;
    max-width: 400px;
    margin: 15px auto;
    text-align: left;
}

.todo:nth-child(even) {
    background-color: #eee;
}

.todo:last-of-type {
    border-bottom: 0;
}
.todo .id {
    flex: 1 1 50px
}
.todo .content {
    flex: 1 1 100%
}
.todo.done .content {
    text-decoration: line-through;
}
.todo-input {
    display: block;
    width: 100%;
    padding: 10px 15px;
    appearance: none;
    border: none;
    background-color: #f3f3f3;
    margin-top: 15px;
    font-size: 20px;
    outline: none;
    max-width: 400px;
    margin: 15px auto;
}
.todo-submit {
    display: block;
    width: 100%;
    max-width: 200px;
    appearance: none;
    border: none;
    outline: none;
    background: none;

    background-color: #eb0c0c;
    color: #fff;
    margin: 15px auto;

    padding: 10px 15px;
    font-size: 18px;
    font-weight: 700;
}